Repository yearn/yearn-exporter, pull requests merged in 2023-03, with the labels that each got.

#489 fix: read curve gauges from xchain_gauge_factory contract for other n…
  yearn/prices/curve.py
Labels: apy

#490 fix(grafana): lockedprofitdegradation on vault overview
  grafana/provisioning/dashboards/strategists/Vault Overview.json
Labels: enhancement

#488 feat: set arbi and opti to weekly apy
  yearn/apy/v2.py
Labels: apy

#494 APYs for curve vaults on sidechains
  services/dashboard/docker-compose.yml
  yearn/apy/curve/simple.py
  yearn/middleware/middleware.py
  yearn/prices/curve.py
  yearn/prices/magic.py
  yearn/v2/vaults.py
Labels: enhancement, testing, apy
